/* Folder information */

#folder-info-div {
    flex-grow: 0.5;
    position: relative;
}

#folder-stats-div {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
}

.file-folder-stats h1, .file-folder-stats h3{
    margin-top: 0;
}

.file-folder-stats h1{
    text-align: center;
}

#folder-title {
    margin-left: 1vw;
    margin-top: 1%;
    font-size: 2vw;
    font-family: Arial;
}

.scrollable {
    overflow-y: auto;
}

#folder-box {
    flex-grow: 0.6;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 5px;
    /*align-items: flex-start;*/
}

#file-count, #folder-count {
    font-family: Arial;
}